# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Firebase / Secrets / Environment
src/serviceAccountKey.json
serviceAccountKey.json
.env